---
layout: default
---

<article itemscope itemtype="http://schema.org/BlogPosting">
  <!-- <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.cayman-blog.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
      {% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}</p>
  </header> -->

  <div itemprop="articleBody">{{ content }}</div>

  <!-- AdSense Ad Unit -->
  <div style="margin-top: 20px">
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4307789791467781"
      crossorigin="anonymous"
    ></script>
    <!-- regular -->
    <ins
      class="adsbygoogle"
      style="display: block"
      data-ad-client="ca-pub-4307789791467781"
      data-ad-slot="2436885328"
      data-ad-format="auto"
      data-full-width-responsive="true"
    ></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>

  {% if site.disqus.shortname %} {% include disqus_comments.html %} {% endif %}
</article>
